<!DOCTYPE html>

<html>
    <head>
    <link href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <style type="text/css">
        * {
            font-family: "Bebas Neue", cursive;
            color: black;
            font-size: 25px;
        }
    </style>

        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> {{ name }} <h1>

            <div>
                {% block content %}
                replace with gym/member/trainer info
                {% endblock %}
            </div>


    </body>
</html>