{% extends './base.html' %}

{% block content1 %}

Specialises in: {{ focus1 }}, {{ focus2 }}, {{ focus3 }} <br>

Lower Price Range: {{ lower_price_range }} <br>

Upper Price Range: {{ upper_price_range }} <br>

{% endblock %}

{% block content2 %}
Capacity: {{ capacity }} <br>

Suitable for: {{ level }} level <br>

Region: {{ region }} <br>

Trainer Rating: {{ rating }}
{% endblock %}

<a href="../../rating/gym/{{id}}">Leave a rating for {{name}} <a>

{% block content3 %}
<h3> Members in this gym </h3>
<ul> 
    {% for m in gym_members %}
    <li>
        <a href="../../member/{{ m.0 }}"> {{ m.2|add:" "|add:m.3 }} </a>
    </li>
    {% endfor %}
</ul>


<h3> Address </h3>
{{ address }}
<h3> Contact </h3>
{{ email }}


{% endblock %}