{% extends './base.html' %}

{% block content %}

Gender: {{ gender }} <br> 

Preferred training styles: {{ focus1 }}, {{ focus2 }}, {{ focus3 }} <br>

Budget: {{ budget }} <br>

Region: {{ region }} <br>

Training level: {{ level }} <br>

<h2> <a href="../../../recommendations/{{ id }}"> View recommendations for this member </a></h2>

<h3> Trains at </h3>
<ul> 
    {% for g in member_gyms %}
    <li>
        <a href="../../gym/{{ g.0 }}"> {{ g.1 }}</a>
    </li>
    {% endfor %}
</ul>

<h3> Contact </h3>
{{ email }}


{% endblock %}