{% extends './base.html' %}

{% block content %}

Gender: {{ gender }} <br> 

Specialises in training: {{ focus1 }}, {{ focus2 }}, {{ focus3 }} <br>

Training level: {{ level }} <br>
Experience (in number of months): {{ experience }} <br>

Lower Price Range: {{ lower_price_range }} <br>

Upper Price Range: {{ upper_price_range }} <br>
Region: {{ region }} <br>

<h3> Trainees </h3>
<ul> 
    {% for m in trainer_members %}
    <li>
        <a href="../profile/gym/{{m.0}}"> {{ m.2|add:m.3 }}</a>
    </li>
    {% endfor %}
</ul>


<h3> Contact </h3>
{{ email }}



{% endblock %}