{% extends base.html%}

{% block content %}
    
    <h1>Here's what we recommend :]</h1>

    {% if reco_gyms %}
    <div>
        <h3>Here are the gyms that fit your needs!</h3>
        <div>
            <ul>
            {% for row in reco_gyms%}
                <li>
                    {{row}}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    {% if reco_trainers %}
    <div>
        <h3>We have some trainers you might be interested in!</h3>
        <ul>
            {% for row in reco_gyms%}
                <li>
                    {{row}}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if reco_members %}
    <div>
        <h3>As a bonus, here's some people in your region and visit the same gyms or trainers as you!</h3>
        <ul>
            {% for row in reco_members%}
                <li>
                    {{row}}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
