{% extends 'recommendations/base.html'%}

{% block content %}
    
    <h1>Here's what we recommend :]</h1>

    {% if reco_gyms %}
    <div>
        <h3>Here are the gyms that fit your needs!</h3>
        <div>
            <ul>
            {% for g in reco_gyms%}
                <li>
                    <a href="../profile/gym/{{ g.0 }}"> {{ g.1 }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    {% if reco_trainers %}
    <div>
        <h3>We have some trainers you might be interested in!</h3>
        <ul>
            {% for t in reco_trainers %}
                <li>
                    <a href="../../profile/trainer/{{ t.0 }}"> {{ t.2|add:t.3 }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if reco_members %}
    <div>
        <h3>As a bonus, here's some people in your region and visit the same gyms or trainers as you!</h3>
        <ul>
            {% for m in reco_members %}
                <li>
                    <a href="../../profile/member/{{ m.0 }}"> {{ m.2|add:m.3 }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
