<!DOCTYPE html>
<html>
    <head>
        <title>Thick to Thicc - Search</title>
    </head>
    <body>
        
        <h2> Search for a gym </h2>
        <div>
            <form method="POST" action="/search_request">
                {% csrf_token %}
                <input type="text" name="search">
                <button type="submit">Search</button>
            </form>
        </div>
        <div>
            <h3>Gyms</h3>
            <ul>
                {% for g in gym %}
                    <li> {{ g }} </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3>Trainers</h3>
            <ul>
                {% for t in trainer %}
                    <li> {{ t }} </li>
                {% endfor %}
            </ul>           
        </div>
    </body>
</html>