<!DOCTYPE html>
<html>
    <head>
        <title>Thick to Thicc - Search</title>
    </head>
    <body>
        
        <h2> Search for a gym or trainer! </h2>
        <div>
            <form method="POST" action="/search_request">
                {% csrf_token %}
                <input type="text" name="search">
                <div class="location" id="location">
                    <select name="loc" id="loc">
                        <option>Select Location Preference</option>
                        <option value="North">North</option>
                        <option value="South">South</option>
                        <option value="East">East</option>
                        <option value="West">West</option>
                        <option value="Central">Central</option>
                    </select>
                </div>

                <div class="level" id="level">
                    <select name="lvl" id="lvl">
                        <option>Select Fitness Level</option>
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Advanced">Advanced</option>
                    </select>
                </div>

                <div class="control-group" id="budget">Budget
                    <div class="controls">
                        <input type="number" name="budget" min="1" class="numberinput numberInput" id="budg">
                    </div>
                </div>

                <div class="focus1" id="focus1">
                    <select name="foc1" id="foc1">
                        <option>Select a focus</option>
                        <option value="Pilates">Pilates</option>
                        <option value="Yoga">Yoga</option>
                        <option value="Weightlifting">Weightlifting</option>
                        <option value="Spin">Spin</option>
                        <option value="Crossfit">Crossfit</option>
                        <option value="Calisthenics">Calisthenics</option>
                        <option value="Powerlifting">Powerlifting</option>
                        <option value="Martial Arts">Martial Arts</option>
                        <option value="Physiotherapy">Physiotherapy</option>
                        <option value="Running">Running</option>
                        <option value="Swimming">Swimming</option>
                    </select>
                </div>

                <div class="focus2" id="focus2">
                    <select name="foc2" id="foc2">
                        <option>Select a focus</option>
                        <option value="Pilates">Pilates</option>
                        <option value="Yoga">Yoga</option>
                        <option value="Weightlifting">Weightlifting</option>
                        <option value="Spin">Spin</option>
                        <option value="Crossfit">Crossfit</option>
                        <option value="Calisthenics">Calisthenics</option>
                        <option value="Powerlifting">Powerlifting</option>
                        <option value="Martial Arts">Martial Arts</option>
                        <option value="Physiotherapy">Physiotherapy</option>
                        <option value="Running">Running</option>
                        <option value="Swimming">Swimming</option>
                    </select>
                </div>

                <div class="focus3" id="focus3">
                    <select name="foc3" id="foc3">
                        <option>Select a focus</option>
                        <option value="Pilates">Pilates</option>
                        <option value="Yoga">Yoga</option>
                        <option value="Weightlifting">Weightlifting</option>
                        <option value="Spin">Spin</option>
                        <option value="Crossfit">Crossfit</option>
                        <option value="Calisthenics">Calisthenics</option>
                        <option value="Powerlifting">Powerlifting</option>
                        <option value="Martial Arts">Martial Arts</option>
                        <option value="Physiotherapy">Physiotherapy</option>
                        <option value="Running">Running</option>
                        <option value="Swimming">Swimming</option>
                    </select>
                </div>



                <button type="submit">Search</button>
            </form>
        </div>
        <div>
            {% if num_gyms != 0 %}
                <h3>Gyms</h3>
                <ul>
                    {% for g in gym %}
                        <li> {{ g }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {% if num_trainers != 0 %}
            <h3>Trainers</h3>
            <ul>
                {% for t in trainer %}
                    <li> {{ t }} </li>
                {% endfor %}
            </ul>           
            {% endif %}
        </div>
    </body>
</html>