{% load static %}
<html>
<body>
    <h2>All Users of ThickToThicc</h2>
    <br/><br/>
    <table border=1>
        <thead>
            <th>Email</th>
            <th>Password</th>
            <th>Type</th>
            <th>Action</th>
        </thead>
        {% for i in users %}
        <tr>
            <td> {{ i.0 }} </td>
            <td> {{ i.1 }} </td>
            <td> {{ i.2 }} </td>
            <td>
                <a href="edit/{{i.2}}/{{i.0}}"><button>Edit</button></a> | 
                <a href="delete/{{i.2}}/{{i.0}}"><button>Delete</button></a>
                | 
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{i.0}}"/>
                <button onclick="return confirm('Are you sure you want to delete {{cust.5}}?');" type="submit" name="action" value="delete">Delete</button> 
              </form></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
