{% load static %}
<html>
<body>
    <h2>All Users of ThickToThicc</h2>
    <br/><br/>
    <div> {{status}} </div>
    <table border=1>
        <thead>
            <th>Email</th>
            <th>Password</th>
            <th>Type</th>
            <th>Action</th>
        </thead>
        {% for i in users %}
        <tr>
            <td> {{ i.0 }} </td>
            <td> {{ i.1 }} </td>
            <td> {{ i.2 }} </td>
            <td>
                <form action="../edit/" method="POST">
                    <input type="hidden" name="type" value={{i.2}}/>
                    <input type="hidden" name="email" value={{i.0}}/>
                    <button type="submit">Edit</button> 
                </form>

                <form action="../delete/" method="POST">
                    <input type="hidden" name="type" value={{i.2}}/>
                    <input type="hidden" name="email" value={{i.0}}/>
                    <button onclick="return confirm('Are you sure you want to delete {{i.0}}?');" type="submit">Delete</button> 

                </form>
                {% csrf_token %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
