{% extends './base_edit.html' %}

{% block content %}

    <h2>Edit {{ trainer.2 }} {{trainer.3}}</h2>

    <p style="color:red">{{ status | safe}}</p>

    <form method="POST" action="edit_submit/">

        {% csrf_token %}

        <div id="div_id_email" class="control-group">
            <label for="id_email" class="control-label requiredField">
                Email
            <span class="asteriskField">*</span>
            </label>
        <div class="controls">
            <input readonly type="text" name="email" value="{{trainer.1}}" maxlength="64" class="textinput textInput" required="" id="id_email">
        </div>
        </div>

        <div id="div_id_first_name" class="control-group">
            <label for="id_first_name" class="control-label requiredField">
                First Name
            <span class="asteriskField">*</span>
            </label>
        <div class="controls">
            <input type="text" name="first_name" value="{{trainer.2}}" maxlength="64" class="textinput textInput" required="" id="id_first_name">
        </div>
        </div>

        <div id="div_id_last_name" class="control-group">
            <label for="id_last_name" class="control-label requiredField">
                Last Name
            <span class="asteriskField">*</span>
            </label>
        <div class="controls">
            <input type="text" name="last_name" value="{{trainer.3}}" maxlength="64" class="textinput textInput" required="" id="id_last_name">
        </div>
        </div>

        <div id="div_id_gender" class="control-group">
            <label for="id_gender" class="control-label requiredField">
                Gender<span class="asteriskField">*</span>
            </label><div class="controls">
            <select name="gender" id="id_gender">
                <option value="{{trainer.4}}">{{trainer.4}}</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
        </div>

        <div id="div_id_upper_price_range" class="control-group">
            <label for="id_upper_price_range" class="control-label requiredField">
                Upper Price Range
            <span class="asteriskField">*</span>
            </label>
        <div class="controls">
            <input type="number" name="upper_price_range" value="{{trainer.5}}" class="numberinput numberInput" required="" id="id_upper_price_range">
        </div>
        </div>

        <div id="div_id_lower_price_range" class="control-group">
            <label for="id_lower_price_range" class="control-label requiredField">
                Lower Price Range
            <span class="asteriskField">*</span>
            </label>
        <div class="controls">
            <input type="number" name="lower_price_range" value="{{trainer.6}}" class="numberinput numberInput" required="" id="id_lower_price_range">
        </div>
        </div>

        <div id="div_id_experience" class="control-group">
            <label for="id_experience" class="control-label requiredField">
                Experience
            <span class="asteriskField">*</span>
            </label>
        <div class="controls">
            <input type="number" name="experience" value="{{trainer.7}}" class="numberinput numberInput" required="" id="id_experience">
        </div>
        </div>

        <div id="div_id_focus1" class="control-group">
            <label for="id_focus1" class="control-label requiredField">
                Focus 1
            <span class="asteriskField">*</span>
            </label>
        <div class="controls">
            <select name="focus1" id="id_focus1">
                <option value="{{trainer.8}}">{{trainer.8}}</option>
                <option value="Calisthenics">Calisthenics</option>
                <option value="Crossfit">Crossfit</option>
                <option value="Martial Arts">Martial Arts</option>
                <option value="Physiotherapy">Physiotherapy</option>
                <option value="Pilates">Pilates</option>
                <option value="Powerlifting">Powerlifting</option>
                <option value="Weightlifting">Weightlifting</option>
                <option value="Running">Running</option>
                <option value="Spin">Spin</option>
                <option value="Yoga">Yoga</option>
            </select>
        </div>
        </div>

        <div id="div_id_focus2" class="control-group">
            <label for="id_focus2" class="control-label requiredField">
                Focus 2
            <span class="asteriskField">*</span>
            </label>
        <div class="controls">
            <select name="focus2" id="id_focus2">
                <option value="{{trainer.9}}">{{trainer.9}}</option>
                <option value="Calisthenics">Calisthenics</option>
                <option value="Crossfit">Crossfit</option>
                <option value="Martial Arts">Martial Arts</option>
                <option value="Physiotherapy">Physiotherapy</option>
                <option value="Pilates">Pilates</option>
                <option value="Powerlifting">Powerlifting</option>
                <option value="Weightlifting">Weightlifting</option>
                <option value="Running">Running</option>
                <option value="Spin">Spin</option>
                <option value="Yoga">Yoga</option>
            </select>
        </div>
        </div>

        <div id="div_id_focus3" class="control-group">
            <label for="id_focus3" class="control-label requiredField">
                Focus 3
            <span class="asteriskField">*</span>
            </label>
        <div class="controls">
            <select name="focus3" id="id_focus3">
                <option value="{{trainer.10}}">{{trainer.10}}</option>
                <option value="Calisthenics">Calisthenics</option>
                <option value="Crossfit">Crossfit</option>
                <option value="Martial Arts">Martial Arts</option>
                <option value="Physiotherapy">Physiotherapy</option>
                <option value="Pilates">Pilates</option>
                <option value="Powerlifting">Powerlifting</option>
                <option value="Weightlifting">Weightlifting</option>
                <option value="Running">Running</option>
                <option value="Spin">Spin</option>
                <option value="Yoga">Yoga</option>
            </select>
        </div>
        </div>

        <div class="control-group" id="div_id_level">
            <label for="id_level" class="control-label requiredField">
                Fitness Level<span class="asteriskField">*</span>
            </label><div class="controls">
            <select name="level" id="id_level">
                <option value="{{trainer.11}}">{{trainer.11}}</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
            </select>
        </div>
        </div>
        
        <br>
        <button type="submit" value="Update">Update</button>
    </form>
{% endblock %}









