<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com">
	    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <style type="text/css">
            .hidden {
                display: none;
            }
            
            *{
                font-family: "Bebas Neue", cursive;
                text-align: center;
                letter-spacing: 0.1em;
                margin-top: 1em;
             }
        </style>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $().ready(function(){
                $('#type').on('change', function(){
                    var tval = $(this).val();
                    $('.answer').addClass('hidden');
                    $('.answer#' + tval).removeClass('hidden');
                });
            });
        </script>
        <title>Thick to Thicc - Ratings</title>
    </head>

    <body>
        <h2> Want to leave a rating for a gym or a trainer? </h2>
        <h3> Leave it here, along with your email for us to get back to you! </h3>

        <form method="POST" action="{% if type %}../../../rating/ {% else %}../rating/ {% endif%}">
            {% csrf_token %}
            <select name="type" id="type">
                <option value="">Are you leaving feedback for a gym or a trainer?</option>
                <option value="gym" {% if type == 'gym' %} selected {%endif%}>Gym</option>
                <option value="trainer" {% if type == 'trainer'%} selected {% endif %}>Trainer</option>
            </select>

            <div class="answer hidden" id="trainer">

                <div id="div_id_member_email" class="control-group">
                    <label for="id_member_email" class="control-label requiredField">
                        Your Email<span class="asteriskField">*</span>
                    </label>
                    <div class="controls">
                        <input type="text" name="memberemail" maxlength="256" class="textinput textInput" required="" id="id_memberemail">
                    </div>
                </div>

                <div id="div_id_trainer_email" class="control-group">
                    <label for="id_trainer_email" class="control-label requiredField">
                        Trainer's Email<span class="asteriskField">*</span>
                    </label>
                    <div class="controls">
                        <input value="{% if type == 'trainer' %}{{email}}{% endif %}" type="text" name="traineremail" maxlength="256" class="textinput textInput" required="" id="id_traineremail">
                    </div>
                </div>

                <div id="div_id_rating" class="control-group">
                    <label for="id_rating" class="control-label requiredField">
                        Your Rating<span class="asteriskField">*</span>
                    </label>
                    <div class="controls">
                        <input type="number" name="rating" min="0" max="5" class="numberinput numberInput" required="" id="id_rating">
                    </div>
                </div>

                <br>
                <button type="submit" value="Rating">Submit!</button>
            </div>
        </form>

        <form method="POST" action="{% if type %}../../../rating/ {% else %}../rating/ {% endif%}">
            {% csrf_token %}

            <div class="answer hidden" id="gym">
                <div id="div_id_member_email" class="control-group">
                    <label for="id_member_email" class="control-label requiredField">
                        Your Email<span class="asteriskField">*</span>
                    </label>
                    <div class="controls">
                        <input type="text" name="memberemail" maxlength="256" class="textinput textInput" required="" id="id_memberemail">
                    </div>
                </div>

                <div id="div_id_gym_email" class="control-group">
                    <label for="id_gym_email" class="control-label requiredField">
                        Gym's Email<span class="asteriskField">*</span>
                    </label>
                    <div class="controls">
                        <input value={% if type == 'gym' %}{{email}}{% endif %} type="text" name="gymemail" maxlength="256" class="textinput textInput" required="" id="id_gymemail">
                    </div>
                </div>

                <div id="div_id_rating" class="control-group">
                    <label for="id_rating" class="control-label requiredField">
                        Your Rating<span class="asteriskField">*</span>
                    </label>
                    <div class="controls">
                        <input type="number" name="rating" min="0" max="5" class="numberinput numberInput" required="" id="id_rating">
                    </div>
                </div>

                <div>
                    <input type="hidden" name="type" value="gym" />
                </div>
                <br>
                <button type="submit" value="Rating">Submit!</button>
            </div>
        </form>

        <p class="text-center">Return to <a href="../">home</a></p>

        <div>
            {{ rating }}

        </div>


    </body>
</html>